@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}

body {font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;}


.header {height: 100%;}

.title {color: #513155;}


/* 로고 설정 */
.logo {width: 298px;
        height: 203px;
        background-color: rgba(900, 900, 900, 0.7);
        border-radius: 0 0 30% 0;
        /* background-image: url(../img/logo001.png);
        background-size: contain;
        background-repeat: no-repeat; */
    }
.logo img {width: 220px;
        height: 136px;
        margin-top: 35px;
        margin-left: 35px;}



/* gnb 설정 */
.gnb {width: 198px;
    height: 40%;
    background-color: rgba(900, 900, 900, 0.7);
    border-radius: 30px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;}
.gnb ul {}
.gnb ul li {font-size: 20px;
            color: #513155;
            padding: 25px 30px;
            font-weight: bold;
            text-align: center;}
.gnb ul li:hover {opacity: 0.8;}



/* 바로가기 설정 */
.direct {width: 198px;
    height: 18%;
    background-color: rgba(900, 900, 900, 0.7);
    border-radius: 30px 30px;
    margin-bottom: 15px;
    margin-left: 15px;}
.direct ul {}
.direct ul li {font-size: 14px;
                color: #513155;
                padding: 12px 5px;
                text-align: center;}
.direct ul li:hover {opacity: 0.8;}
.direct i {padding-right: 5px;}



/* 운영시간 설정 */
.time {width: 228px;
    height: 13%;
    background-color: rgba(900, 900, 900, 0.7);
    border-radius: 0 30% 0 0;}
.time ul {display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;}
.time ul li {font-size: 16px;
            color: #513155;
            letter-spacing: 2px;
            padding: 15px 5px;}
.time ul li span {display: block;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 3px;
                padding-top: 7px;}


/* 인포 설정 */
.info {display: flex;
        width: 100%;
        margin-left: 280px;
        flex-wrap: wrap;}
.info div {width: 130px;
            height: 130px;
            background-color: silver;
            border-radius: 100%;
            margin: 30px 60px;
            text-align: center;
            display: flex;
            align-items: center;}
.info div em {width: 100%;
            font-size: 20px;
            font-style: normal;}
.info div:hover {}
.info div:nth-child(4) {width: 450px;
                        height: 130px;
                        background-color: #aaa;
                        border-radius: 0%;}
.info div:nth-child(4) h3 {}
.info div:nth-child(4) h3 span {}
.info div:nth-child(4) p {}

.info .infotxt {display: flex;}



/* 히어로 설정 */
.hero {}
.hero img {width: 100%;
        height: 100%;
        }
.hero p {position: absolute;
        right: 41px;
        top: 368px;
        font-size: 90px;
        font-family: 'Black Han Sans', sans-serif;
        text-align: right;
        color: #FEE600;}
.hero p span {color: #fff;}



/* 시설안내 설정 */
.facil {
    /* position: relative;
    height: 100%; */
    
}
.box2-1 {border-left: 8px solid #513155;
            padding-left: 12px;
            margin-left: 10px;}
.faciltxt {margin-left: 33.5%;}
.faciltxt ul {display: flex;
            flex-wrap: wrap;
            margin-top: 80px;}
.faciltxt ul li {background-color: #C79FCC;
            padding: 12px 27px;
            display: flex;
            align-items: center;}
.faciltxt ul li span {}
.faciltxt ul li:nth-child(1) {border-radius: 20px 0 0 0;}
.faciltxt ul li:nth-child(4) {border-radius: 0 20px 0 0;}
.facilimg {margin-left: 30%;}
.facilimg img {width: 532px;
            height: 520px;
            border-radius: 40px 40px 220px 220px;}

.facil .trailer ul {display: flex;}
.facil .trailer ul li {}
.facil .trailer ul li a {}
.facil .trailer img {width: 246px;
                height: 246px;
            border-radius: 100%;}
.facil .trailer img:nth-child(1) {}

/* .faciltxt, .box2-3, .box2-4 {position: absolute;
    left: 50%;
    margin-left: -150px;} */



/* 가이드맵 설정 */
.guide {}
.box3-1 {border-left: 8px solid #513155;
    padding-left: 12px;
    margin-left: 10px;}
.guidetxt {margin-left: 50%;}
.guidetxt ul {display: flex;
            flex-wrap: wrap;
            margin-top: 80px;}
.guidetxt ul li {background-color: #C79FCC;
            padding: 12px 55px;
            display: flex;
            align-items: center;}
.guideMap {margin-left: 10%;}
.guideMap .guideimg {width: 983px;
                height: 678px;}
.buttonBox {margin-left: 335px;
            margin-top: 20px;}
.guideMap button {height: 47px;
                border: none;
                background-color: #FEF066;
                border-radius: 30px;
                padding: 0 30px;
                margin-left: 50px;}

.guidetxt ul li:nth-child(1) {border-radius: 20px 0 0 0;}
.guidetxt ul li:nth-child(2) {border-radius: 0 20px 0 0;}



/* 공지사항 설정 */
.notice {}
.box4-1 {border-left: 8px solid #513155;
        padding-left: 12px;
        margin-left: 10px;}
.notice_list {margin-left: 100px;}
.notice_list ul {padding: 30px;}
.notice_list ul li {margin: 60px 30px;
                    width: 100%;}
.notice_list ul li a {display: flex;
                    justify-content: space-between;}
.noticetxt {}
.noticetxt h3 {margin-bottom: 10px;
            color: #513155;}
.notice_list ul li a span {border: 1px #000 solid;
                        display: flex;
                        width: 70px;
                        height: 70px;
                        position: relative;
                        padding: 3px;}
.notice_list ul li a span em {font-style: normal;
                            font-size: 40px;
                        position: absolute;
                        bottom: 5px;
                        left: 15px;}


/* 배너 설정 */
.banner {/*position: absolute;*/
        left: 0;}
.bannerimg {}
.bannerimg a {}
.bannerimg img {width: 100%;}



/* 갤러리 설정 */
.gallery {}
.box6-1 {border-left: 8px solid #513155;
    padding-left: 12px;
    margin-left: 10px;}
.box6-2 {}
.gallery .trailer {}
.gallery .trailer ul {display: flex;
                    justify-content: space-between;
                    position: relative;
                    margin: 100px 50px;
                    }
.gallery .trailer ul li {}
.gallery .trailer ul li img {}
.gallery .trailer ul li:nth-child(1) {}
.gallery .trailer ul li:nth-child(1) img {border-radius: 0 60px 0 60px;
                                width: 548px;
                                height: 548px;}
.gallery .trailer ul li:nth-child(2) img {border-radius: 60px 0 0 0;
                                width: 320px;
                                height: 320px;
                                margin-left: 200px;}
.gallery .trailer ul li:nth-child(3) img {border-radius: 0 0 60px 0;
                                width: 310px;
                                height: 209px;
                                position: absolute;
                                bottom: -50px;
                                left: 63%;}
.gallerytxt {width: 130px;
            background-color: #C79FCC;
            padding: 5px;
            text-align: center;
            letter-spacing: 5px;}

    

/* 오시는길 설정 */
.road {}
.box7-1 {border-left: 8px solid #513155;
    padding-left: 12px;
    margin-left: 10px;}
.road .map {width: 500px;
            height: 500px;}
.road .roadtxt {}
.road .roadtxt div {}
.road .roadtxt div:nth-child(1) {display: flex;}
.road .roadtxt div a {padding: 10px;}
.road .roadtxt div a h3 {color: #513155;}
.road .roadtxt div a h3 i {}
.box7-4 {}
.popup {}
.popup div {position: relative;
    width: 400px;}
.popup div img {position: absolute;
            width: 100%;}
.popup div i {position: absolute;
            right: 15px;
            top: 15px;
            color: #C79FCC;
            font-size: 20px;}



/* SNS 설정 */
.snsBox {}
.snsBox h3 {}
.snsBox ul {}
.snsBox ul li {}



/* 미디어쿼리구간 설정 ///////////////// */

@media(min-width:768px) {

    /* 헤더 설정 */
    
    header {position: fixed;}

    .boxE {position: fixed;
        bottom: 0;}



}



/* 1140px 이상 ////////// */
@media(min-width:1140px) {

    .box2, .box3, .box4, .box6, .box7 {width: 1100px;
            
            margin-left: 250px;}


}
